/*.carrousel{
    margin-top: 12%;
}*/
body {
    color: black;
}

.nav-link{
    color: #ffffff !important;
}

.dropdown-menu{
    background-color: rgb(0, 0, 0);
    color: #111111;
}

.dropdown-item{
    color: #ffffff;
}

@media (min-width: 200px) {
    .carrousel{
        margin-top: 18%;
    }
  }

  @media (min-width: 280px) {
    .carrousel{
        margin-top: 15%;
    }
  }

  @media (min-width: 370px) {
    .carrousel{
        margin-top: 13%;
    }
  }

@media (min-width: 430px) {
    .carrousel{
        margin-top: 10%;
    }
  }

@media (min-width: 560px) {
    .carrousel{
        margin-top: 7%;
    }
  }

  @media (min-width: 807px) {
    .carrousel{
        margin-top: 5%;
    }
  }

@media (min-width: 1000px) {
    .carrousel{
        margin-top: 5%;
    }
  }

@media (min-width: 1200px) {
    .carrousel{
        margin-top: 3%;
    }
  }